/* vendors */
/* base */
* {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* layout */
.md-body {
  display: flex;
  flex-direction: column;
}
.md-body[data-md-theme=light] {
  background-color: rgb(252, 234, 232);
  color: rgb(35, 25, 24);
}
.md-body[data-md-theme=dark] {
  background-color: rgb(39, 29, 28);
  color: rgb(241, 222, 220);
}
.md-body[data-md-color=surface][data-md-theme=light] {
  background-color: rgb(255, 248, 247);
  color: rgb(35, 25, 24);
}
.md-body[data-md-color=surface][data-md-theme=dark] {
  background-color: rgb(26, 17, 16);
  color: rgb(241, 222, 220);
}
.md-body[data-md-color=surface-variant][data-md-theme=light] {
  background-color: rgb(245, 221, 219);
  color: rgb(83, 67, 66);
}
.md-body[data-md-color=surface-variant][data-md-theme=dark] {
  background-color: rgb(83, 67, 66);
  color: rgb(216, 194, 191);
}
.md-body[data-md-color=background][data-md-theme=light] {
  background-color: rgb(255, 248, 247);
  color: rgb(35, 25, 24);
}
.md-body[data-md-color=background][data-md-theme=dark] {
  background-color: rgb(26, 17, 16);
  color: rgb(241, 222, 220);
}

.md-fixed {
  position: fixed;
  display: flex;
  gap: 8px;
  align-items: center;
}
.md-fixed[data-md-lr=left] {
  left: 16px;
}
.md-fixed[data-md-lr=right] {
  right: 16px;
}
.md-fixed[data-md-tb=top] {
  top: 16px;
}
.md-fixed[data-md-tb=bottom] {
  bottom: 16px;
}
.md-fixed[data-md-direction=vertical] {
  flex-direction: column;
}
.md-fixed[data-md-direction=vertical].md-fixed--reverse {
  flex-direction: column-reverse;
}
.md-fixed[data-md-direction=horizontal] {
  flex-direction: row;
}
.md-fixed[data-md-direction=horizontal].md-fixed--reverse {
  flex-direction: row-reverse;
}

.md-pane {
  overflow: hidden;
  margin: 24px;
  border-radius: 16px;
}
[data-md-theme=light] .md-pane {
  background-color: rgb(255, 248, 247);
  color: rgb(35, 25, 24);
}
[data-md-theme=dark] .md-pane {
  background-color: rgb(26, 17, 16);
  color: rgb(241, 222, 220);
}
.md-pane__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  padding: 24px;
}
.md-pane__content--fill {
  padding: 0;
}
.md-pane--fill {
  margin: 0;
}

/* components */
.md-app-bar {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 4px;
  box-sizing: border-box;
  padding: 4px;
  height: 64px;
  align-items: center;
}
[data-md-theme=light] .md-app-bar {
  background-color: rgb(255, 248, 247);
  color: rgb(35, 25, 24);
}
[data-md-theme=dark] .md-app-bar {
  background-color: rgb(26, 17, 16);
  color: rgb(241, 222, 220);
}
.md-app-bar__icon {
  grid-row: 1;
  border: 0;
  font-size: 24px;
  border-radius: 9999px;
  width: 48px;
  height: 48px;
  line-height: 48px;
}
[data-md-theme=light] .md-app-bar__icon {
  color: rgb(35, 25, 24);
  background-color: transparent;
}
[data-md-theme=light] .md-app-bar__icon:hover {
  color: rgb(35, 25, 24);
  background-color: rgba(35, 25, 24, 0.08);
}
[data-md-theme=light] .md-app-bar__icon:focus {
  color: rgb(35, 25, 24);
  background-color: rgba(35, 25, 24, 0.1);
}
[data-md-theme=light] .md-app-bar__icon:active {
  color: rgb(35, 25, 24);
  background-color: rgba(35, 25, 24, 0.1);
}
[data-md-theme=dark] .md-app-bar__icon {
  color: rgb(241, 222, 220);
  background-color: transparent;
}
[data-md-theme=dark] .md-app-bar__icon:hover {
  color: rgb(241, 222, 220);
  background-color: rgba(241, 222, 220, 0.08);
}
[data-md-theme=dark] .md-app-bar__icon:focus {
  color: rgb(241, 222, 220);
  background-color: rgba(241, 222, 220, 0.1);
}
[data-md-theme=dark] .md-app-bar__icon:active {
  color: rgb(241, 222, 220);
  background-color: rgba(241, 222, 220, 0.1);
}
.md-app-bar__headline {
  grid-row: 1;
  grid-column: 2;
  font-family: "Roboto";
  line-height: 28px;
  font-size: 22px;
  letter-spacing: 0px;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.md-app-bar__headline:first-child {
  margin: 0 16px;
}
.md-app-bar__trailing {
  grid-column: 3;
  display: flex;
  flex-direction: row;
  gap: 4px;
}
[data-md-theme=light] .md-app-bar__trailing .md-app-bar__icon {
  color: rgb(83, 67, 66);
}
[data-md-theme=dark] .md-app-bar__trailing .md-app-bar__icon {
  color: rgb(216, 194, 191);
}
.md-app-bar[data-md-type=center] {
  text-align: center;
}
.md-app-bar[data-md-type=medium], .md-app-bar[data-md-type=large] {
  grid-template-rows: auto 1fr;
  align-items: end;
}
.md-app-bar[data-md-type=medium] .md-app-bar__icon:first-child, .md-app-bar[data-md-type=large] .md-app-bar__icon:first-child {
  grid-column: span 2;
}
.md-app-bar[data-md-type=medium] .md-app-bar__headline, .md-app-bar[data-md-type=large] .md-app-bar__headline {
  grid-column: span 3;
  grid-row: 2;
  align-content: end;
  margin: 0 16px;
}
.md-app-bar[data-md-type=medium] {
  height: 112px;
  padding-bottom: 24px;
}
.md-app-bar[data-md-type=medium] .md-app-bar__headline {
  font-family: "Roboto";
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 400;
}
.md-app-bar[data-md-type=large] {
  height: 152px;
  padding-bottom: 28px;
}
.md-app-bar[data-md-type=large] .md-app-bar__headline {
  font-family: "Roboto";
  line-height: 36px;
  font-size: 28px;
  letter-spacing: 0px;
  font-weight: 400;
}

.md-banner {
  display: none;
  grid-template-rows: 2;
  grid-template-columns: auto 1fr;
  padding: 16px;
  padding-right: 24px;
  gap: 16px;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}
[data-md-theme=light] .md-banner {
  border-bottom: 1px solid rgb(216, 194, 191);
  color: rgb(35, 25, 24);
  background-color: rgb(252, 234, 232);
}
[data-md-theme=dark] .md-banner {
  border-bottom: 1px solid rgb(83, 67, 66);
  color: rgb(241, 222, 220);
  background-color: rgb(39, 29, 28);
}
.md-banner--visible {
  display: grid;
}
.md-banner__icon {
  font-size: 56px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  grid-column: 1;
  grid-row: span 2;
}
.md-banner__text {
  grid-column: 2;
  grid-row: 1;
  padding-top: 8px;
}
.md-banner__actions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 32px;
  grid-column: 2;
  grid-row: 2;
}
.md-banner__action {
  background-color: transparent;
  border: 0;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}
[data-md-theme=light] .md-banner__action {
  color: rgb(144, 74, 69);
}
[data-md-theme=dark] .md-banner__action {
  color: rgb(255, 179, 172);
}
.md-banner__action:hover {
  cursor: pointer;
}

.md-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  line-height: 40px;
  width: -moz-max-content;
  width: max-content;
  padding: 0 24px;
  gap: 8px;
  border: 0;
  border-radius: 9999px;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
  cursor: pointer;
}
.md-button__icon {
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 18px;
  margin-left: -8px;
}
.md-button:disabled {
  cursor: default;
}
[data-md-theme=light] .md-button[data-md-type=elevated]:disabled {
  background-color: rgba(35, 25, 24, 0.12);
  color: rgba(35, 25, 24, 0.38);
}
[data-md-theme=light] .md-button[data-md-type=elevated]:not(:disabled) {
  background-color: rgb(255, 240, 239);
  color: rgb(144, 74, 69);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=light] .md-button[data-md-type=elevated]:not(:disabled):hover {
  color: rgb(144, 74, 69);
  background-color: #f6e3e1;
}
[data-md-theme=light] .md-button[data-md-type=elevated]:not(:disabled):focus {
  color: rgb(144, 74, 69);
  background-color: #f4dfde;
}
[data-md-theme=light] .md-button[data-md-type=elevated]:not(:disabled):active {
  color: rgb(144, 74, 69);
  background-color: #f4dfde;
}
[data-md-theme=light] .md-button[data-md-type=filled]:disabled {
  background-color: rgba(35, 25, 24, 0.12);
  color: rgba(35, 25, 24, 0.38);
}
[data-md-theme=light] .md-button[data-md-type=filled]:not(:disabled) {
  background-color: rgb(144, 74, 69);
  color: rgb(255, 255, 255);
}
[data-md-theme=light] .md-button[data-md-type=filled]:not(:disabled):hover {
  color: rgb(255, 255, 255);
  background-color: #995854;
}
[data-md-theme=light] .md-button[data-md-type=filled]:not(:disabled):focus {
  color: rgb(255, 255, 255);
  background-color: #9b5c58;
}
[data-md-theme=light] .md-button[data-md-type=filled]:not(:disabled):active {
  color: rgb(255, 255, 255);
  background-color: #9b5c58;
}
[data-md-theme=light] .md-button[data-md-type=filled]:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=light] .md-button[data-md-type=tonal]:disabled {
  background-color: rgba(35, 25, 24, 0.12);
  color: rgba(35, 25, 24, 0.38);
}
[data-md-theme=light] .md-button[data-md-type=tonal]:not(:disabled) {
  background-color: rgb(255, 218, 214);
  color: rgb(44, 21, 19);
}
[data-md-theme=light] .md-button[data-md-type=tonal]:not(:disabled):hover {
  color: rgb(44, 21, 19);
  background-color: #eecac6;
}
[data-md-theme=light] .md-button[data-md-type=tonal]:not(:disabled):focus {
  color: rgb(44, 21, 19);
  background-color: #eac6c3;
}
[data-md-theme=light] .md-button[data-md-type=tonal]:not(:disabled):active {
  color: rgb(44, 21, 19);
  background-color: #eac6c3;
}
[data-md-theme=light] .md-button[data-md-type=tonal]:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=light] .md-button[data-md-type=outlined]:disabled {
  color: rgba(35, 25, 24, 0.38);
  background-color: transparent;
}
[data-md-theme=light] .md-button[data-md-type=outlined]:not(:disabled) {
  background-color: transparent;
  color: rgb(144, 74, 69);
  border: 1px solid rgb(133, 115, 113);
}
[data-md-theme=light] .md-button[data-md-type=outlined]:not(:disabled):hover {
  color: rgb(144, 74, 69);
  background-color: rgba(144, 74, 69, 0.08);
}
[data-md-theme=light] .md-button[data-md-type=outlined]:not(:disabled):focus {
  color: rgb(144, 74, 69);
  background-color: rgba(144, 74, 69, 0.1);
}
[data-md-theme=light] .md-button[data-md-type=outlined]:not(:disabled):active {
  color: rgb(144, 74, 69);
  background-color: rgba(144, 74, 69, 0.1);
}
[data-md-theme=light] .md-button[data-md-type=text]:disabled {
  color: rgba(35, 25, 24, 0.38);
  background-color: transparent;
}
[data-md-theme=light] .md-button[data-md-type=text]:not(:disabled) {
  background-color: transparent;
  color: rgb(144, 74, 69);
  color: rgb(144, 74, 69);
}
[data-md-theme=light] .md-button[data-md-type=text]:not(:disabled):hover {
  color: rgb(144, 74, 69);
  background-color: rgba(144, 74, 69, 0.08);
}
[data-md-theme=light] .md-button[data-md-type=text]:not(:disabled):focus {
  color: rgb(144, 74, 69);
  background-color: rgba(144, 74, 69, 0.1);
}
[data-md-theme=light] .md-button[data-md-type=text]:not(:disabled):active {
  color: rgb(144, 74, 69);
  background-color: rgba(144, 74, 69, 0.1);
}
[data-md-theme=dark] .md-button[data-md-type=elevated]:disabled {
  background-color: rgba(241, 222, 220, 0.12);
  color: rgba(241, 222, 220, 0.38);
}
[data-md-theme=dark] .md-button[data-md-type=elevated]:not(:disabled) {
  background-color: rgb(35, 25, 24);
  color: rgb(255, 179, 172);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=dark] .md-button[data-md-type=elevated]:not(:disabled):hover {
  color: rgb(255, 179, 172);
  background-color: #352524;
}
[data-md-theme=dark] .md-button[data-md-type=elevated]:not(:disabled):focus {
  color: rgb(255, 179, 172);
  background-color: #392827;
}
[data-md-theme=dark] .md-button[data-md-type=elevated]:not(:disabled):active {
  color: rgb(255, 179, 172);
  background-color: #392827;
}
[data-md-theme=dark] .md-button[data-md-type=filled]:disabled {
  background-color: rgba(241, 222, 220, 0.12);
  color: rgba(241, 222, 220, 0.38);
}
[data-md-theme=dark] .md-button[data-md-type=filled]:not(:disabled) {
  background-color: rgb(255, 179, 172);
  color: rgb(87, 30, 27);
}
[data-md-theme=dark] .md-button[data-md-type=filled]:not(:disabled):hover {
  color: rgb(87, 30, 27);
  background-color: #f2a7a0;
}
[data-md-theme=dark] .md-button[data-md-type=filled]:not(:disabled):focus {
  color: rgb(87, 30, 27);
  background-color: #eea49e;
}
[data-md-theme=dark] .md-button[data-md-type=filled]:not(:disabled):active {
  color: rgb(87, 30, 27);
  background-color: #eea49e;
}
[data-md-theme=dark] .md-button[data-md-type=filled]:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:disabled {
  background-color: rgba(241, 222, 220, 0.12);
  color: rgba(241, 222, 220, 0.38);
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:not(:disabled) {
  background-color: rgb(93, 63, 60);
  color: rgb(255, 218, 214);
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:not(:disabled):hover {
  color: rgb(255, 218, 214);
  background-color: #6a4b48;
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:not(:disabled):focus {
  color: rgb(255, 218, 214);
  background-color: #6d4f4b;
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:not(:disabled):active {
  color: rgb(255, 218, 214);
  background-color: #6d4f4b;
}
[data-md-theme=dark] .md-button[data-md-type=tonal]:not(:disabled):hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=dark] .md-button[data-md-type=outlined]:disabled {
  color: rgba(241, 222, 220, 0.38);
  background-color: transparent;
}
[data-md-theme=dark] .md-button[data-md-type=outlined]:not(:disabled) {
  background-color: transparent;
  color: rgb(255, 179, 172);
  border: 1px solid rgb(160, 140, 138);
}
[data-md-theme=dark] .md-button[data-md-type=outlined]:not(:disabled):hover {
  color: rgb(255, 179, 172);
  background-color: rgba(255, 179, 172, 0.08);
}
[data-md-theme=dark] .md-button[data-md-type=outlined]:not(:disabled):focus {
  color: rgb(255, 179, 172);
  background-color: rgba(255, 179, 172, 0.1);
}
[data-md-theme=dark] .md-button[data-md-type=outlined]:not(:disabled):active {
  color: rgb(255, 179, 172);
  background-color: rgba(255, 179, 172, 0.1);
}
[data-md-theme=dark] .md-button[data-md-type=text]:disabled {
  color: rgba(241, 222, 220, 0.38);
  background-color: transparent;
}
[data-md-theme=dark] .md-button[data-md-type=text]:not(:disabled) {
  background-color: transparent;
  color: rgb(255, 179, 172);
  color: rgb(255, 179, 172);
}
[data-md-theme=dark] .md-button[data-md-type=text]:not(:disabled):hover {
  color: rgb(255, 179, 172);
  background-color: rgba(255, 179, 172, 0.08);
}
[data-md-theme=dark] .md-button[data-md-type=text]:not(:disabled):focus {
  color: rgb(255, 179, 172);
  background-color: rgba(255, 179, 172, 0.1);
}
[data-md-theme=dark] .md-button[data-md-type=text]:not(:disabled):active {
  color: rgb(255, 179, 172);
  background-color: rgba(255, 179, 172, 0.1);
}

.md-checkbox {
  display: flex;
  flex-direction: row;
}
[data-md-theme=light] .md-checkbox {
  color: rgb(35, 25, 24);
}
[data-md-theme=dark] .md-checkbox {
  color: rgb(241, 222, 220);
}
[data-md-theme=light] .md-checkbox input[type=checkbox] {
  accent-color: rgb(144, 74, 69);
}
[data-md-theme=light] .md-checkbox input[type=checkbox]:disabled {
  accent-color: rgba(35, 25, 24, 0.38);
}
[data-md-theme=dark] .md-checkbox input[type=checkbox] {
  accent-color: rgb(255, 179, 172);
}
[data-md-theme=dark] .md-checkbox input[type=checkbox]:disabled {
  accent-color: rgba(241, 222, 220, 0.38);
}
.md-checkbox label {
  padding-left: 16px;
}

.md-fab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  line-height: 56px;
  gap: 8px;
  border: 0;
  border-radius: 16px;
}
[data-md-theme=light] .md-fab {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
  background-color: rgb(246, 228, 226);
  color: rgb(144, 74, 69);
}
[data-md-theme=light] .md-fab:hover {
  color: rgb(144, 74, 69);
  background-color: #eed8d5;
}
[data-md-theme=light] .md-fab:focus {
  color: rgb(144, 74, 69);
  background-color: #ecd5d2;
}
[data-md-theme=light] .md-fab:active {
  color: rgb(144, 74, 69);
  background-color: #ecd5d2;
}
[data-md-theme=dark] .md-fab {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
  background-color: rgb(50, 40, 39);
  color: rgb(255, 179, 172);
}
[data-md-theme=dark] .md-fab:hover {
  color: rgb(255, 179, 172);
  background-color: #423332;
}
[data-md-theme=dark] .md-fab:focus {
  color: rgb(255, 179, 172);
  background-color: #473634;
}
[data-md-theme=dark] .md-fab:active {
  color: rgb(255, 179, 172);
  background-color: #473634;
}
.md-fab:hover {
  cursor: pointer;
}
[data-md-theme=light] .md-fab:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 8px 12px 0;
}
[data-md-theme=dark] .md-fab:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 8px 12px 0;
}
[data-md-theme=light] .md-fab:focus, [data-md-theme=light] .md-fab:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
}
[data-md-theme=dark] .md-fab:focus, [data-md-theme=dark] .md-fab:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
}
.md-fab__icon {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 24px;
}
.md-fab__text {
  display: none;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}
[data-md-theme=light] .md-fab--low {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  background-color: rgb(255, 240, 239);
  color: rgb(144, 74, 69);
}
[data-md-theme=light] .md-fab--low:hover {
  color: rgb(144, 74, 69);
  background-color: #f6e3e1;
}
[data-md-theme=light] .md-fab--low:focus {
  color: rgb(144, 74, 69);
  background-color: #f4dfde;
}
[data-md-theme=light] .md-fab--low:active {
  color: rgb(144, 74, 69);
  background-color: #f4dfde;
}
[data-md-theme=light] .md-fab--low:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 4px 0;
}
[data-md-theme=light] .md-fab--low:focus, [data-md-theme=light] .md-fab--low:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
[data-md-theme=dark] .md-fab--low {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  background-color: rgb(35, 25, 24);
  color: rgb(255, 179, 172);
}
[data-md-theme=dark] .md-fab--low:hover {
  color: rgb(255, 179, 172);
  background-color: #352524;
}
[data-md-theme=dark] .md-fab--low:focus {
  color: rgb(255, 179, 172);
  background-color: #392827;
}
[data-md-theme=dark] .md-fab--low:active {
  color: rgb(255, 179, 172);
  background-color: #392827;
}
[data-md-theme=dark] .md-fab--low:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 4px 0;
}
[data-md-theme=dark] .md-fab--low:focus, [data-md-theme=dark] .md-fab--low:active {
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px 0;
}
.md-fab[data-md-size=small]:not(.md-fab--branded) {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 12px;
}
.md-fab[data-md-size=large] .md-fab__icon, .md-fab--branded .md-fab__icon {
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 36px;
}
.md-fab[data-md-size=large] {
  width: 96px;
  height: 96px;
  line-height: 96px;
  border-radius: 28px;
}
.md-fab[data-md-size=large] .md-fab--branded .md-fab__icon {
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 48px;
}
.md-fab[data-md-size=extended] {
  min-width: 80px;
  width: auto;
  padding: 0 16px;
}
.md-fab[data-md-size=extended] .md-fab__text {
  display: initial;
}
[data-md-theme=light] .md-fab[data-md-color=primary] {
  background-color: rgb(255, 218, 214);
  color: rgb(59, 9, 8);
}
[data-md-theme=light] .md-fab[data-md-color=primary]:hover {
  color: rgb(59, 9, 8);
  background-color: #efc9c6;
}
[data-md-theme=light] .md-fab[data-md-color=primary]:focus {
  color: rgb(59, 9, 8);
  background-color: #ebc5c1;
}
[data-md-theme=light] .md-fab[data-md-color=primary]:active {
  color: rgb(59, 9, 8);
  background-color: #ebc5c1;
}
[data-md-theme=light] .md-fab[data-md-color=secondary] {
  background-color: rgb(255, 218, 214);
  color: rgb(44, 21, 19);
}
[data-md-theme=light] .md-fab[data-md-color=secondary]:hover {
  color: rgb(44, 21, 19);
  background-color: #eecac6;
}
[data-md-theme=light] .md-fab[data-md-color=secondary]:focus {
  color: rgb(44, 21, 19);
  background-color: #eac6c3;
}
[data-md-theme=light] .md-fab[data-md-color=secondary]:active {
  color: rgb(44, 21, 19);
  background-color: #eac6c3;
}
[data-md-theme=light] .md-fab[data-md-color=tertiary] {
  background-color: rgb(254, 222, 166);
  color: rgb(38, 25, 0);
}
[data-md-theme=light] .md-fab[data-md-color=tertiary]:hover {
  color: rgb(38, 25, 0);
  background-color: #edce99;
}
[data-md-theme=light] .md-fab[data-md-color=tertiary]:focus {
  color: rgb(38, 25, 0);
  background-color: #e8ca95;
}
[data-md-theme=light] .md-fab[data-md-color=tertiary]:active {
  color: rgb(38, 25, 0);
  background-color: #e8ca95;
}
[data-md-theme=dark] .md-fab[data-md-color=primary] {
  background-color: rgb(115, 51, 47);
  color: rgb(255, 218, 214);
}
[data-md-theme=dark] .md-fab[data-md-color=primary]:hover {
  color: rgb(255, 218, 214);
  background-color: #7e403c;
}
[data-md-theme=dark] .md-fab[data-md-color=primary]:focus {
  color: rgb(255, 218, 214);
  background-color: #814440;
}
[data-md-theme=dark] .md-fab[data-md-color=primary]:active {
  color: rgb(255, 218, 214);
  background-color: #814440;
}
[data-md-theme=dark] .md-fab[data-md-color=secondary] {
  background-color: rgb(93, 63, 60);
  color: rgb(255, 218, 214);
}
[data-md-theme=dark] .md-fab[data-md-color=secondary]:hover {
  color: rgb(255, 218, 214);
  background-color: #6a4b48;
}
[data-md-theme=dark] .md-fab[data-md-color=secondary]:focus {
  color: rgb(255, 218, 214);
  background-color: #6d4f4b;
}
[data-md-theme=dark] .md-fab[data-md-color=secondary]:active {
  color: rgb(255, 218, 214);
  background-color: #6d4f4b;
}
[data-md-theme=dark] .md-fab[data-md-color=tertiary] {
  background-color: rgb(88, 68, 25);
  color: rgb(254, 222, 166);
}
[data-md-theme=dark] .md-fab[data-md-color=tertiary]:hover {
  color: rgb(254, 222, 166);
  background-color: #655024;
}
[data-md-theme=dark] .md-fab[data-md-color=tertiary]:focus {
  color: rgb(254, 222, 166);
  background-color: #695327;
}
[data-md-theme=dark] .md-fab[data-md-color=tertiary]:active {
  color: rgb(254, 222, 166);
  background-color: #695327;
}

.md-snackbar {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
  padding: 16px;
  margin: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.25px;
  font-weight: 400;
}
[data-md-theme=light] .md-snackbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
  background-color: rgb(57, 46, 45);
  color: rgb(255, 237, 235);
}
[data-md-theme=dark] .md-snackbar {
  box-shadow: rgba(0, 0, 0, 0.2) 0 6px 9px 0;
  background-color: rgb(241, 222, 220);
  color: rgb(57, 46, 45);
}
.md-snackbar--visible {
  display: grid;
}
.md-snackbar__action {
  grid-row: 1;
  grid-column: 2;
  justify-self: end;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: transparent;
  margin-right: 0;
  box-sizing: border-box;
  border: 0;
}
[data-md-theme=light] .md-snackbar__action {
  color: rgb(255, 179, 172);
}
[data-md-theme=dark] .md-snackbar__action {
  color: rgb(144, 74, 69);
}
.md-snackbar__action:hover {
  cursor: pointer;
}
.md-snackbar__action--long {
  grid-row: 2;
  grid-column: span 2;
}

.md-tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.md-tabs__button {
  box-sizing: border-box;
  flex: 1;
  border: 0;
  background-color: transparent;
}
[data-md-theme=light] .md-tabs__button {
  color: rgb(83, 67, 66);
}
[data-md-theme=dark] .md-tabs__button {
  color: rgb(216, 194, 191);
}
.md-tabs__button:not(:disabled) {
  cursor: pointer;
}
.md-tabs__icon {
  font-size: 24px;
}
.md-tabs__text {
  font-family: "Roboto";
  line-height: 20px;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
  align-content: center;
}
.md-tabs__nav {
  display: flex;
  flex-direction: row;
  height: 48px;
}
[data-md-theme=light] .md-tabs__nav {
  border-bottom: 1px solid rgb(216, 194, 191);
  background-color: rgb(255, 248, 247);
}
[data-md-theme=dark] .md-tabs__nav {
  border-bottom: 1px solid rgb(83, 67, 66);
  background-color: rgb(26, 17, 16);
}
.md-tabs__nav[data-md-type=primary] .md-tabs__button {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
}
.md-tabs__nav[data-md-type=primary] .md-tabs__button::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: transparent;
  min-width: 24px;
  margin: 0 2px;
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button {
  background-color: transparent;
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button:hover {
  background-color: rgba(35, 25, 24, 0.08);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button:focus {
  background-color: rgba(35, 25, 24, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button:active {
  color: rgb(35, 25, 24);
  background-color: rgba(144, 74, 69, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected {
  background-color: transparent;
  color: rgb(144, 74, 69);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:hover {
  color: rgb(144, 74, 69);
  background-color: rgba(144, 74, 69, 0.08);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:focus {
  color: rgb(144, 74, 69);
  background-color: rgba(144, 74, 69, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:active {
  color: rgb(144, 74, 69);
  background-color: rgba(144, 74, 69, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(144, 74, 69);
  min-width: 24px;
  margin: 0 2px;
}
[data-md-theme=light] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:focus::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(119, 86, 83);
  min-width: 24px;
  margin: 0 2px;
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button {
  background-color: transparent;
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button:hover {
  background-color: rgba(241, 222, 220, 0.08);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button:focus {
  background-color: rgba(241, 222, 220, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button:active {
  color: rgb(241, 222, 220);
  background-color: rgba(255, 179, 172, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected {
  background-color: transparent;
  color: rgb(255, 179, 172);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:hover {
  color: rgb(255, 179, 172);
  background-color: rgba(255, 179, 172, 0.08);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:focus {
  color: rgb(255, 179, 172);
  background-color: rgba(255, 179, 172, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:active {
  color: rgb(255, 179, 172);
  background-color: rgba(255, 179, 172, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(255, 179, 172);
  min-width: 24px;
  margin: 0 2px;
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=primary] .md-tabs__button--selected:focus::after {
  content: "";
  height: 3px;
  display: block;
  border-radius: 9999px 9999px 0 0;
  background-color: rgb(231, 189, 184);
  min-width: 24px;
  margin: 0 2px;
}
.md-tabs__nav[data-md-type=primary]:has(.md-tabs__icon) {
  height: 64px;
}
.md-tabs__nav[data-md-type=primary]:has(.md-tabs__icon) .md-tabs__button {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.md-tabs__nav[data-md-type=primary]:has(.md-tabs__icon) .md-tabs__icon {
  align-content: end;
}
.md-tabs__nav[data-md-type=primary]:has(.md-tabs__icon) .md-tabs__text {
  align-content: start;
}
.md-tabs__nav[data-md-type=secondary] {
  height: 48px;
}
.md-tabs__nav[data-md-type=secondary] .md-tabs__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button {
  background-color: transparent;
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:hover {
  color: rgb(35, 25, 24);
  background-color: rgba(35, 25, 24, 0.08);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:focus {
  color: rgb(35, 25, 24);
  background-color: rgba(35, 25, 24, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:active {
  color: rgb(35, 25, 24);
  background-color: rgba(35, 25, 24, 0.1);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button--selected {
  color: rgb(35, 25, 24);
  box-shadow: inset 0px -3px 0px 0px rgb(144, 74, 69);
}
[data-md-theme=light] .md-tabs__nav[data-md-type=secondary] .md-tabs__button--selected:focus {
  box-shadow: inset 0px -3px 0px 0px rgb(119, 86, 83);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button {
  background-color: transparent;
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:hover {
  color: rgb(241, 222, 220);
  background-color: rgba(241, 222, 220, 0.08);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:focus {
  color: rgb(241, 222, 220);
  background-color: rgba(241, 222, 220, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button:active {
  color: rgb(241, 222, 220);
  background-color: rgba(241, 222, 220, 0.1);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button--selected {
  color: rgb(241, 222, 220);
  box-shadow: inset 0px -3px 0px 0px rgb(255, 179, 172);
}
[data-md-theme=dark] .md-tabs__nav[data-md-type=secondary] .md-tabs__button--selected:focus {
  box-shadow: inset 0px -3px 0px 0px rgb(231, 189, 184);
}
.md-tabs__page {
  padding: 16px;
  display: none;
}
.md-tabs__page--selected {
  display: block;
}

/* pages */
/* themes */