/* vendors */
// @use "vendors/...";

/* base */
// @use "base/...";

/* layout */
// @use "layout/...";

/* components */
@use "components/settings-dialog";

/* pages */
// @use "pages/...";

/* themes */
@use "themes/dark";
@use "themes/light";

/* material */
@use "sass-material-design/src/sass/abstracts/variables" with (
    $assets: "sass-material-design/dist/assets"
);
@use "sass-material-design/src/sass/themes" with (
    $themes: (
        dark: dark.$theme,
        light: light.$theme,
    )
);
@use "sass-material-design/src/sass/material";
