/* vendors */
// @use "vendors/...";

/* base */
// @use "base/...";

/* layout */
// @use "layout/...";

/* components */
// @use "components/...";

/* pages */
// @use "pages/...";

/* themes */
@use "themes/dark";
@use "themes/light";

/* material */
@use "../../lib/material/src/sass/abstracts/variables" with (
    $assets: "lib/material/dist/assets"
);
@use "../../lib/material/src/sass/themes" with (
    $themes: (
        dark: dark.$theme,
        light: light.$theme,
    )
);
@use "../../lib/material/src/sass/material.scss";
