/* vendors */
/* base */
/* layout */
/* components */
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.cards .md-card {
  flex: 1 1 300px;
}

.md-checkbox[data-level="1"] {
  margin-left: 32px;
}
.md-checkbox[data-level="2"] {
  margin-left: 64px;
}
.md-checkbox[data-level="3"] {
  margin-left: 96px;
}
.md-checkbox[data-level="4"] {
  margin-left: 128px;
}

/* pages */
/* themes */