// @use "../material/abstracts" as *;
@use "../../../material/src/sass/abstracts" as *;

.cards {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .md-card {
        flex: 1 1 300px;
    }
}
