#settings-dialog {
    $gap: 8px;

    .settings-section {
        margin: 0 16px;
        display: flex;
        flex-flow: column wrap;
        gap: $gap;

        .settings-row {
            display: flex;
            flex-flow: row wrap;
            gap: $gap;
        }
    }
}
