// @use "../material/abstracts" as *;
@use "../../../material/src/sass/abstracts" as *;

#bonfires {
    $breakpoints: create-list(600, 1200, 200, $suffix: "px");

    display: grid;
    grid-template-columns: 1fr;

    @for $i from 1 through length($breakpoints) {
        $width: nth($breakpoints, $i);

        @media screen and (min-width: $width) {
            grid-template-columns: repeat($i + 1, 1fr);
        }
    }
}
